nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #dddddd;
}

nav h2 {
  margin: 0;
}

nav div {
  display: flex;
  gap: 24px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}